# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/venv/
/.idea/
config.py
configs/
secrets.json
staticfiles/
database_config.json
restore.sql

# Ignore .conf files
myproject/api/temp_configs/*.conf
