[Unit]
Description=gunicorn daemon for Django project
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/wgapi
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 wgapi.wsgi:application \
    --access-logfile /root/logir/gunicorn_access.log \
    --error-logfile /root/logir/gunicorn_error.log
Environment="PYTHONPATH=/root/wgapi"

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
